
@{
    ViewBag.Title = "Takip";
    Layout = "~/Views/Shared/_LayoutCalisan.cshtml";
    @model  IsTakipSistemiMVC.Models.IsDurumModel
}

<div class="container mt-5">
    @foreach (var isDurum in Model.isDurumlarr)
    {
        <div class="card">
            <div class="card-header bg-black text-center text-white">
                @isDurum.isBaslik
            </div>
            <div class="card-body">
                <ul class="list-group list-group-flush"> 
                    <li class="list-group-item">@isDurum.isAciklama</li>
                    <li class="list-group-item">İletilen Tarih : @isDurum.iletilenTarih</li>
                    <li class="list-group-item">Yapılan Tarih : @isDurum.yapılanTarih</li>
                    <li class="list-group-item">İş Durumu : @isDurum.durumAd</li>
                    <li class="list-group-item">İş Yorumu : @isDurum.isYorum</li>
                </ul>
            </div>
        </div>
        <br />
    }
</div>